@model Theatre.Web.Models.UpcomingPassedReviewsViewModel
@{
    ViewBag.Title = "Home Page";
}


<h1 class="event-group-heading">Reviews</h1>

<div class="row">
    @if (Model.UpcomingReviews.Any()) { 
        @Html.DisplayFor(x => x.UpcomingReviews)
    }
    else
    {
        <div class="col-md-4 col-sm-6 col-xs-12">NO REVIEWS TO DISPLAY</div>
    }
    @section scripts{
        @Scripts.Render("~/bundles/ajax")
    }
</div>
<div class="row">
    @if (Model.PassedReviews.Any())
    {
        @Html.DisplayFor(x => x.PassedReviews)
    }
    else
    {
        <div class="col-md-4 col-sm-6 col-xs-12">NO PASSED Reviews TO DISPLAY</div>
        @section scripts{
            @Scripts.Render("~/bundles/ajax")
            }
    }
</div>

